<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>There is new reservation, here is the details</p>        

    <p>Table: <%= @reservation.table.name %></p>
    <p>Guest Number: <%= @reservation.guest_number %></p>
    <p>Booking Time: <%= @reservation.booking_time %></p>    

  </body>
</html>